/homework-1/dist/
/homework-1/node_modules/
/homework-2/node_modules/

/homework-2/dist/
/homework-3/dist/
/homework-3/node_modules/
/homework-4/node_modules/
/homework-4/src/.sass-cache/
/homework-5/todo.txt
/homework-5/.sass-cache/
/homework-5/build/
/homework-5/node_modules/
/homework-6/node_modules/
/homework-6/external/
/homework-6/.sass-cache/
/homework-7/.sass-cache/
/homework-7/node_modules/
/homework-7-3/node_modules/
/homework-7-3/.sass-cache/
/homework-8-1/node_modules/
/homework-11/node_modules/
