.generator__panel {
  z-index: 2;
  text-align: center;
  background: #f1ecf5;
  @include border-radius(.5em);
  padding: 1em 3em;
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include box-shadow(rgba(#48308f, .2) 2px 2px 10px);
}

.generator__title {
  color: #6e49a4;
}

.generator__btn {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  background: #88a4ff;
  color: #fff;
  @include border-radius(.2em);
  margin-bottom: 0.5em;

  &:hover {
    background: #999dff;
  }
}


.generator__btn_save {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  background: #66ff8b;
  color: #fff;
  @include border-radius(.2em);
  margin-bottom: 0.5em;

  &:hover {
    background: rgba(102, 255, 139, 0.62);
  }
}

.generator__clean {
  text-decoration: none;
  font-size: .8em;
  color: #535c67;
  &:hover {
    text-decoration: underline;
  }
}

.shape {
  cursor: move;
  position: absolute;
  z-index: 1;
  background: rgba(#2f1742, .8);
  @include border-radius(.5em);
  @include box-shadow(rgba(#000, .2) 2px 2px 10px);
}