@font-face {
    font-family: 'sfns_displayregular';
    src: url('../fonts/sfns_display-webfont.eot');
    src: url('../fonts/sfns_display-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfns_display-webfont.woff2') format('woff2'),
         url('../fonts/sfns_display-webfont.woff') format('woff'),
         url('../fonts/sfns_display-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}